{:deps
 {org.clojure/clojure       {:mvn/version "1.10.1"}
  medley                    {:mvn/version "1.2.0"}
  org.clojure/tools.logging {:mvn/version "0.5.0"}
  camel-snake-kebab         {:mvn/version "0.4.0"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps  {com.interactivebrokers/tws-api {:mvn/version "9.73.01-SNAPSHOT"}}}}
 
 :paths ["src" "resources"]}
