{:paths ["src"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  org.clojure/java.data     {:mvn/version "1.0.86"}
  org.clojure/core.async    {:mvn/version "1.2.603"}}
 :aliases
 {:dev
  {:extra-deps
   {com.interactivebrokers/tws-api {:mvn/version "979.01-with-parameters"}}}}}
